@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,200;0,300;0,400;0,500;0,700;0,900;1,200;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barrio&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  * {
    @apply font-roboto text-black
  }

  h1 {
    @apply text-heading font-bold text-orange font-barrio
  }

  h2, h3, h4, h5, h6 {
    @apply text-subheading font-regular font-barrio
  }

  p,
  ul,
  ol,
  li {
    @apply text-paragraph font-thin text-justify
  }

  blockquote p, footer {
    @apply text-quote font-barrio
  }

  button, a {
    @apply font-bold text-paragraph
  }

  .spinner-orange {
    width: 30px;
    height: 30px;
    position: relative;
    margin: -0.225rem auto;
  }

  .spinner-orange::before,
  .spinner-orange::after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    border: 3px solid transparent;
    border-top-color: #F68428;
    animation: spin 1s linear infinite;
  }

  .spinner-orange::after {
    animation-delay: 0.5s;
  }

  .spinner-white {
    width: 30px;
    height: 30px;
    position: relative;
    margin: -0.225rem auto;
  }

  .spinner-white::before,
  .spinner-white::after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    border: 3px solid transparent;
    border-top-color: #fff;
    animation: spin 1s linear infinite;
  }

  .spinner-white::after {
    animation-delay: 0.5s;
  }

  .small-spinner {
    width: 20px;
    height: 20px;
    position: relative;
  }

  .small-spinner::before,
  .small-spinner::after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    border: 3px solid transparent;
    border-top-color: #F68428;
    animation: spin 1s linear infinite;
  }

  .small-spinner::after {
    animation-delay: 0.5s;
  }

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }

  .swiper-container-free-mode>.swiper-wrapper {
    -webkit-transition-timing-function: linear;
    -o-transition-timing-function: linear;
    transition-timing-function: linear;
    margin: 0 auto;
  }
}